{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <h1 class="detail-title">{{ post.title }}</h1>
        <hr>
        {{ post.body|safe }}
    </div>
    <div class="container">
        <h3>发表评论</h3>
        <hr>
        <div class="col-md-10">
            <form action="{% url 'comments:comment' post.pk %}" method="post" role="form" class="form-horizontal">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="form-control">发表</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h3>评论列表,共{{ comment_count }}条评论</h3>
        <hr>
        <ul>
            {% for comment in comment_list %}
                <li>{{ comment.name }}{{ comment.created_time }}</li>
                <p>{{ comment.text }}</p>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}