a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

.post-title {
    font-size: 1.5rem;

}

.post-meta {
    text-indent: 0;
}

.post-date {
    display: inline;
}

.post-excerpt {
    text-indent: 0;
}

.readmore {
    border-radius: 2px;
    border: #0c5460 solid 1px;
    line-height: 1.5rem;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.input-text {
    width: 50%;
    border: #4d99bf solid 1px;
    line-height: 1.5rem;
    background: transparent;
    outline: none;
    margin: 2px;
}

.input-textarea {
    width: 50%;
    border: #4d99bf solid 1px;
    margin: 2px;
}

.input-field {
    width: 80%;
    border: 0;
}

.input-button {
    width: 50%;
    line-height: 1.5rem;
    border: #4d99bf solid 1px;
    margin: 2px;
}

.input-search {
    width: 50%;
}

.search-button {
    border: #999999 1px;
}

p {
    text-indent: 2em;
}

.inner {
    padding: 1.5% 3% 1.5% 3%;
    margin:1.5% 3% 1.5% 3%;
    border:1px solid #CCCCCC;
}

.detail-title {
    text-align: center;
}
.article {
    padding: 0.1% 1% 0.1% 1%;
    margin:1.5% 3% 1.5% 3%;
    border:1px solid #CCCCCC;
}
.post-author {
    color: rgb(61, 146, 201);
}