{% extends 'base.html' %} %}
{% block main %}
<form role="search" method="post" action="{% url 'blog:search' %}">
    {% csrf_token %}
    <input type="search" name="q" placeholder="输入关键字" required class="input-search">
    <button type="submit" class="search-button">搜索</button>
</form>

{% for post in post_list %}
<div class="article">
    <h2 class="post-title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <p class="post-meta">
        <span class="post-date">{{ post.modified_time }}</span>
        By <span class="post-author">{{ post.author }}</span>
        under <a href="javascript:void(0);"><span class="post-category">{{ post.category }}</span></a>
    </p>
    <p class="post-excerpt">{{ post.excerpt }}</p>
</div>
{% empty %}
<div class="pure-form-message">Nothing!</div>
{% endfor %}

{% endblock main %}