{% extends 'base.html' %} %}
{% block main %}

<div class="container">
    <form role="search" method="post" action="{% url 'blog:search' %}" class="form-inline">
        {% csrf_token %}
        <input type="search" name="q" placeholder="输入关键字" required class="form-control">
        <button type="submit" class="btn">搜索</button>
    </form>
    {% for post in post_list %}
    <article>
        <header>
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
        </header>
        <p>
            <span>{{ post.modified_time }}</span>
            By <span>{{ post.author }}</span>
            Under <a href="javascript:void(0);"><span>{{ post.category }}</span></a>
            Views <span>{{ post.views }}</span>

        </p>
        <p>
            <span>{{ post.excerpt }}</span>
        </p>
    </article>
    {% empty %}
    <div class="container">Nothing!</div>
    {% endfor %}
</div>
{% endblock main %}