{% extends 'base.html' %} %}
{% block main %}
    {% for post in post_list %}
        <article class="pure-group">
            <header>
                <h1 class="pure-menu-allow-hover">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
            </header>
            <div class="pure-form-message-inline">
                <span>{{ post.modified_time }}</span>
                <span>|</span>
                <a href="javascript:void(0);"><span>{{ post.category }}</span></a>

            </div>
            <div>
                <span class="">{{ post.excerpt }}</span>
                <a href="{{ post.get_absolute_url }}"><span class="pure-button">阅读全文</span></a>

        </article>
    {% empty %}
        <div class="pure-form-message">Nothing!</div>
    {% endfor %}
{% endblock main %}