{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <title>Blog</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form role="search" method="post" id="search-form" action="{% url 'blog:search' %}" class="pure-form">
    {% csrf_token %}
    <input type="search" name="q" placeholder="搜索" required class="pure-input-1-2">
    <button type="submit" class="pure-button">搜索</button>
</form>
<main>
    {% block main %}
    {% endblock main %}
</main>
</body>
</html>